include spikesorters/kilosort/*.m
include spikesorters/kilosort2/*.m
include spikesorters/hdsort/*.m
include spikesorters/waveclus/*.m
include spikesorters/utils/*.m
include spikesorters/utils/*.py
include spikesorters/utils/mdaio/*.m
include spikesorters/klusta/config_default.prm
include spikesorters/spyking_circus/config_default.params
