# this list is use in travis for sorters.

# klusta
Cython
h5py
tqdm
click
klusta
klustakwik2==0.2.7

# tridesclous
pyqt5==5.13
hdbscan
tridesclous==1.6

# ms4
pybind11
isosplit5
ml_ms4alg==0.3.2

# herdingspikes
herdingspikes==0.3.7

# spyking-circus
spyking-circus==0.9.9 --no-binary=mpi4py
